In [1]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'start_time': ['2022-06-18 10:30:00', '2022-06-18 11:45:00', '2022-06-18 13:15:00'],
                   'end_time': ['2022-06-18 11:00:00', '2022-06-18 13:00:00', '2022-06-18 14:30:00']})

In [2]:
df

            start_time             end_time
0  2022-06-18 10:30:00  2022-06-18 11:00:00
1  2022-06-18 11:45:00  2022-06-18 13:00:00
2  2022-06-18 13:15:00  2022-06-18 14:30:00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_time  3 non-null      object
 1   end_time    3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes

In [4]:
# convert string columns to datetime
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_time  3 non-null      datetime64[ns]
 1   end_time    3 non-null      datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 180.0 bytes

In [6]:
# calculate duration and extract hour component
df['duration'] = df['end_time'] - df['start_time']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_time  3 non-null      datetime64[ns]
 1   end_time    3 non-null      datetime64[ns]
 2   duration    3 non-null      timedelta64[ns]
dtypes: datetime64[ns](2), timedelta64[ns](1)
memory usage: 204.0 bytes

In [8]:
df

           start_time            end_time        duration
0 2022-06-18 10:30:00 2022-06-18 11:00:00 0 days 00:30:00
1 2022-06-18 11:45:00 2022-06-18 13:00:00 0 days 01:15:00
2 2022-06-18 13:15:00 2022-06-18 14:30:00 0 days 01:15:00

In [9]:
df['hour'] = df['duration'].dt.components.hours

In [10]:
df['min'] = df['duration'].dt.components.minutes

In [11]:
df

           start_time            end_time        duration  hour  min
0 2022-06-18 10:30:00 2022-06-18 11:00:00 0 days 00:30:00     0   30
1 2022-06-18 11:45:00 2022-06-18 13:00:00 0 days 01:15:00     1   15
2 2022-06-18 13:15:00 2022-06-18 14:30:00 0 days 01:15:00     1   15

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_time  3 non-null      datetime64[ns]
 1   end_time    3 non-null      datetime64[ns]
 2   duration    3 non-null      timedelta64[ns]
 3   hour        3 non-null      int64
 4   min         3 non-null      int64
dtypes: datetime64[ns](2), int64(2), timedelta64[ns](1)
memory usage: 252.0 bytes

In [13]:
print(df)

           start_time            end_time        duration  hour  min
0 2022-06-18 10:30:00 2022-06-18 11:00:00 0 days 00:30:00     0   30
1 2022-06-18 11:45:00 2022-06-18 13:00:00 0 days 01:15:00     1   15
2 2022-06-18 13:15:00 2022-06-18 14:30:00 0 days 01:15:00     1   15

In [14]:
import pandas as pd

# Create a DataFrame from the dictionary
data = {'genre': ['C1666544295', 'M2044282225', 'C38997010', 'C2048537720', 'M1230701703']}
df = pd.DataFrame(data)

# Remove all characters except numbers, keeping the sign if present
df['genre'] = df['genre'].str.replace(r"[^\d\-+\.]", "", regex=True)

# Convert the 'genre' column to integers
df['genre'] = pd.to_numeric(df['genre'], errors='coerce')

# Check the data type of 'genre' column
print(df['genre'].dtype)

int64

In [15]:
df

        genre
0  1666544295
1  2044282225
2    38997010
3  2048537720
4  1230701703

In [16]:
def replace_first_letter_with_ascii(string):
    if not string or not isinstance(string, str):
        return string

    # Extract the first letter
    first_letter = string[0]

    # Convert the first letter to ASCII code
    ascii_code = ord(first_letter)

    # Replace the first letter with the ASCII code
    replaced_string = str(ascii_code) + string[1:]

    return replaced_string

# Example usage
original_string = "Hello, world!"
modified_string = replace_first_letter_with_ascii(original_string)
#print(f"Original string: {original_string}")
#print(f"Modified string: {modified_string}")

In [17]:
original_string = "C1666544295"
modified_string = replace_first_letter_with_ascii(original_string)
print(original_string)
print(modified_string)

C1666544295
671666544295

In [18]:
import pandas as pd
import numpy as np

# Exemple de DataFrame avec une colonne contenant des valeurs
data = {'colonne': ['10', '20', '30', '40', 'not_a_number', '50', '60', '70', '80']}
df = pd.DataFrame(data)

# Affichage du DataFrame initial
print("DataFrame initial :")
print(df)

# Convertir la colonne en float avec gestion des erreurs
converted_values = pd.to_numeric(df['colonne'], errors='coerce')

# Filtrer les valeurs non convertibles en float (c'est-Ã -dire les valeurs non NaN)
non_convertible_values = df['colonne'][converted_values.isna()]

# Affichage des valeurs non convertibles
print("\nValeurs non convertibles en float :")
print(non_convertible_values)

DataFrame initial :
        colonne
0            10
1            20
2            30
3            40
4  not_a_number
5            50
6            60
7            70
8            80

Valeurs non convertibles en float :
4    not_a_number
Name: colonne, dtype: object

In [19]:
import pandas as pd

# Create a sample DataFrame with a 'name' column containing strings
data = {'name': ['AlicB', 'BAb', 'ChaArlie', 'David', 'EBilBA']}
df = pd.DataFrame(data)

# Define the function to replace letters with ASCII codes
def replace_AB_with_ascii(string):
    if not string or not isinstance(string, str):
        return string

    letter_to_ascii = {'A': ord('A'), 'B': ord('B')}

    replaced_string = ''
    for char in string:
        if char in letter_to_ascii:
            replaced_string += str(letter_to_ascii[char])
        else:
            replaced_string += char

    return replaced_string

# Apply the function to the 'name' column using 'apply'
df['name_with_ascii'] = df['name'].apply(replace_AB_with_ascii)

# Print the modified DataFrame
print(df)

       name name_with_ascii
0     AlicB         65lic66
1       BAb           6665b
2  ChaArlie       Cha65rlie
3     David           David
4    EBilBA       E66il6665

In [20]:
import pandas as pd

# Create a sample DataFrame with a 'col' column containing strings
data = {'col': ['Hello, World!', 'This is a test.', 'Another example']}
df = pd.DataFrame(data)

# Define the function to replace letters with ASCII codes
def replace_letters_with_ascii(string):
    if not string or not isinstance(string, str):
        return string

    letter_to_ascii = {char: ord(char) for char in string.upper() if char.isalpha()}

    replaced_string = ''
    for char in string:
        if char in letter_to_ascii:
            replaced_string += str(letter_to_ascii[char])
        else:
            replaced_string += char

    return replaced_string

# Apply the function to the 'col' column using 'apply'
df['col_with_ascii'] = df['col'].apply(replace_letters_with_ascii)

# Print the modified DataFrame
print(df)

               col    col_with_ascii
0    Hello, World!   72ello, 87orld!
1  This is a test.  84his is a test.
2  Another example  65nother example

In [21]:
import pandas as pd

# Create a sample DataFrame with a 'col' column containing strings
data = {'col': ['C1231006815', 'C1666544295', 'C1789027422']}
df = pd.DataFrame(data)

# Modify the 'col' column in-place
def replace_first_char_with_ascii(string):
    if not string or not isinstance(string, str):
        return

    ascii_code = ord(string[0])
    string = string[1:]  # Remove the first character
    string = f"{ascii_code}-{string}"  # Insert ASCII code at the beginning

df['col'].apply(replace_first_char_with_ascii)

# Print the modified DataFrame
print(df)

           col
0  C1231006815
1  C1666544295
2  C1789027422

In [22]:
data = {'col': ['C1231006815', 'C1666544295', 'C1789027422']}
df = pd.DataFrame(data)
def replace_first_letter_with_ascii(string):
    if not string or not isinstance(string, str):
        return string

    # Extract the first letter
    first_letter = string[0]

    # Convert the first letter to ASCII code
    ascii_code = ord(first_letter)

    # Replace the first letter with the ASCII code
    replaced_string = str(ascii_code) + string[1:]

    return replaced_string

df['col']= df['col'].apply(replace_first_letter_with_ascii)
print(df['col'])

0    671231006815
1    671666544295
2    671789027422
Name: col, dtype: object

In [23]:
data = {'col': ['C1231006815', 'C1666544295', 'C1789027422']}
df = pd.DataFrame(data)
def remplace_la_premiere_lettre_par_son_ascii(string):
    if not string or not isinstance(string, str):
        return string
    lettre = string[0]
    ascii_code = ord(lettre)
    string_final = str(ascii_code) + string[1:]
    return string_final

df['col']= df['col'].apply(remplace_la_premiere_lettre_par_son_ascii)
print(df['col'])

0    671231006815
1    671666544295
2    671789027422
Name: col, dtype: object

In [24]:
import re
r = re.compile('(a(b)c)d')
g = r.match('abcd')

In [25]:
print(r)

re.compile('(a(b)c)d')

In [26]:
print(g)

<re.Match object; span=(0, 4), match='abcd'>

In [30]:
np.random.seed(0)
n_clusters = [
    np.random.randn(20, 2),  # Cluster 1 K-Means
    np.random.randn(15, 2),  # Cluster 2 K-Means
    np.random.randn(25, 2)   # Cluster 3 K-Means
]

In [31]:
n_clusters

[array([[ 1.76405235,  0.40015721],
        [ 0.97873798,  2.2408932 ],
        [ 1.86755799, -0.97727788],
        [ 0.95008842, -0.15135721],
        [-0.10321885,  0.4105985 ],
        [ 0.14404357,  1.45427351],
        [ 0.76103773,  0.12167502],
        [ 0.44386323,  0.33367433],
        [ 1.49407907, -0.20515826],
        [ 0.3130677 , -0.85409574],
        [-2.55298982,  0.6536186 ],
        [ 0.8644362 , -0.74216502],
        [ 2.26975462, -1.45436567],
        [ 0.04575852, -0.18718385],
        [ 1.53277921,  1.46935877],
        [ 0.15494743,  0.37816252],
        [-0.88778575, -1.98079647],
        [-0.34791215,  0.15634897],
        [ 1.23029068,  1.20237985],
        [-0.38732682, -0.30230275]]),
 array([[-1.04855297, -1.42001794],
        [-1.70627019,  1.9507754 ],
        [-0.50965218, -0.4380743 ],
        [-1.25279536,  0.77749036],
        [-1.61389785, -0.21274028],
        [-0.89546656,  0.3869025 ],
        [-0.51080514, -1.18063218],
        [-0.02818223,  0.42833187],
        [ 0.06651722,  0.3024719 ],
        [-0.63432209, -0.36274117],
        [-0.67246045, -0.35955316],
        [-0.81314628, -1.7262826 ],
        [ 0.17742614, -0.40178094],
        [-1.63019835,  0.46278226],
        [-0.90729836,  0.0519454 ]]),
 array([[ 0.72909056,  0.12898291],
        [ 1.13940068, -1.23482582],
        [ 0.40234164, -0.68481009],
        [-0.87079715, -0.57884966],
        [-0.31155253,  0.05616534],
        [-1.16514984,  0.90082649],
        [ 0.46566244, -1.53624369],
        [ 1.48825219,  1.89588918],
        [ 1.17877957, -0.17992484],
        [-1.07075262,  1.05445173],
        [-0.40317695,  1.22244507],
        [ 0.20827498,  0.97663904],
        [ 0.3563664 ,  0.70657317],
        [ 0.01050002,  1.78587049],
        [ 0.12691209,  0.40198936],
        [ 1.8831507 , -1.34775906],
        [-1.270485  ,  0.96939671],
        [-1.17312341,  1.94362119],
        [-0.41361898, -0.74745481],
        [ 1.92294203,  1.48051479],
        [ 1.86755896,  0.90604466],
        [-0.86122569,  1.91006495],
        [-0.26800337,  0.8024564 ],
        [ 0.94725197, -0.15501009],
        [ 0.61407937,  0.92220667]])]

In [61]:
#Python
from math import*

def calculate_f(x):
  """Calculates the value of r = cos(x^2) for a given input value x.

  Args:
    x: The input value.

  Returns:
    The value of r = cos(x^2).
  """
  #r = math.cos(math.pow(x, 2))
  f = cos(pow(x, 2))
  return f

# Example usage
x = 14.0
f = calculate_f(x)
print("f =", f)

f = 0.3424664577455166

In [63]:
def calculate_g(x):
  """Calculates the value of r = cos(x^2) for a given input value x.

  Args:
    x: The input value.

  Returns:
    The value of r = cos(x^2).
  """
  #r = math.cos(math.pow(x, 2))
  g = pow(tan(x), 1/4)
  return g
g = calculate_g(x)
print("g =", g)

g = 1.6406037580680897

In [65]:
h = 1/(1 + math.exp(f-g))

In [67]:
print("h =", h)

h = 0.7855213268294411