In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import missingno as msno
#%matplotlib inline
import seaborn as sns

In [2]:
#def handle_cat_feat(feature, df)
#df[feature].fillna(df[feature].value_counts().index[0], inplace=True)
##for feature in df.columns:
    #handle_cat_feat(feature, df)

In [3]:
det = {
    'show_id' : ['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9'],
    'type' : ['TV Show', 'Movie', 'Movie', 'TV Show', '?','TV Show', 'Movie', 'Movie', 'TV Show'],
    'title' : ['rent', '???', 'marche', 'ecole', 'defense', 'vie', 'zero', 'rent', 'vie'],
    'director' : ['Abdou', 'Grau', 'Chan', 'Acker','?', 'rrr', 'Acker','Marcel', 'Labrador'],     
    'country' : ['Brazil', 'Mexico', 'UK', 'US', 'US','UK','UK','???','UK'], 
     'manque' : [139, np.nan, np.nan, np.nan, np.nan, np.nan,np.nan, np.nan, np.nan],
    'added' : [12.8, 17.8, 1007, 32, 1720.4, 4587, 1001.4,28.45, 37845.9],     
    'release_year' : [2020, 2016, 2011, 2009,2008, 2010, 2017, 2009, 2022],    
    'rating' : ['TV-MA', 'TV-MA', 'R', 'PG-13', 'PG-13', 'RP-12','PGI-17', 'TV-MO', 'S'],   
    'duration' : [90.5, 93, 78, 80,123, 75.33, 115, 86, 125],    
    'averageRating' : [5.7, np.nan, 10.5, 6.2, 6.2, np.nan, 10, 3.5, 9],
    'is_action' : [True, True, False, True, False, False,True, False, False],
    'duree' : [139, 90, np.nan, 155, 133, np.nan,165, 120, 159],
    'Nb_entree' : [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,165, np.nan, np.nan],
    'numVotes' : [1670, 208, np.nan,'!', np.nan, 817, 163, 33204, 1266]}

In [4]:
# creating a Dataframe object 
det = pd.DataFrame(det)

In [5]:
#Reperer des autres caracteres parmi les valeurs uniques
non_nan=[]
for feature in ["type", "title", "numVotes"]: # UTILISER LE RESULTAT de hp_variables_categorielles.columns
    non_nan.extend(det[feature])
non_nan = pd.DataFrame(non_nan)
print(non_nan[0].unique()) 

display(det)

det.replace([ '?', '???','!'], 'NAN')

['TV Show' 'Movie' '?' 'rent' '???' 'marche' 'ecole' 'defense' 'vie'
 'zero' 1670 208 nan '!' 817 163 33204 1266]

,show_id,type,title,director,country,manque,added,release_year,rating,duration,averageRating,is_action,duree,Nb_entree,numVotes
0,s1,TV Show,rent,Abdou,Brazil,139.0,12.80,2020,TV-MA,90.50,5.7,True,139.0,NaN,1670
1,s2,Movie,???,Grau,Mexico,NaN,17.80,2016,TV-MA,93.00,NaN,True,90.0,NaN,208
2,s3,Movie,marche,Chan,UK,NaN,1007.00,2011,R,78.00,10.5,False,NaN,NaN,NaN
3,s4,TV Show,ecole,Acker,US,NaN,32.00,2009,PG-13,80.00,6.2,True,155.0,NaN,!
4,s5,?,defense,?,US,NaN,1720.40,2008,PG-13,123.00,6.2,False,133.0,NaN,NaN
5,s6,TV Show,vie,rrr,UK,NaN,4587.00,2010,RP-12,75.33,NaN,False,NaN,NaN,817
6,s7,Movie,zero,Acker,UK,NaN,1001.40,2017,PGI-17,115.00,10.0,True,165.0,165.0,163
7,s8,Movie,rent,Marcel,???,NaN,28.45,2009,TV-MO,86.00,3.5,False,120.0,NaN,33204
8,s9,TV Show,vie,Labrador,UK,NaN,37845.90,2022,S,125.00,9.0,False,159.0,NaN,1266

,show_id,type,title,director,country,manque,added,release_year,rating,duration,averageRating,is_action,duree,Nb_entree,numVotes
0,s1,TV Show,rent,Abdou,Brazil,139.0,12.80,2020,TV-MA,90.50,5.7,True,139.0,NaN,1670
1,s2,Movie,NAN,Grau,Mexico,NaN,17.80,2016,TV-MA,93.00,NaN,True,90.0,NaN,208
2,s3,Movie,marche,Chan,UK,NaN,1007.00,2011,R,78.00,10.5,False,NaN,NaN,NaN
3,s4,TV Show,ecole,Acker,US,NaN,32.00,2009,PG-13,80.00,6.2,True,155.0,NaN,NAN
4,s5,NAN,defense,NAN,US,NaN,1720.40,2008,PG-13,123.00,6.2,False,133.0,NaN,NaN
5,s6,TV Show,vie,rrr,UK,NaN,4587.00,2010,RP-12,75.33,NaN,False,NaN,NaN,817
6,s7,Movie,zero,Acker,UK,NaN,1001.40,2017,PGI-17,115.00,10.0,True,165.0,165.0,163
7,s8,Movie,rent,Marcel,NAN,NaN,28.45,2009,TV-MO,86.00,3.5,False,120.0,NaN,33204
8,s9,TV Show,vie,Labrador,UK,NaN,37845.90,2022,S,125.00,9.0,False,159.0,NaN,1266

In [6]:
display(det)

,show_id,type,title,director,country,manque,added,release_year,rating,duration,averageRating,is_action,duree,Nb_entree,numVotes
0,s1,TV Show,rent,Abdou,Brazil,139.0,12.80,2020,TV-MA,90.50,5.7,True,139.0,NaN,1670
1,s2,Movie,???,Grau,Mexico,NaN,17.80,2016,TV-MA,93.00,NaN,True,90.0,NaN,208
2,s3,Movie,marche,Chan,UK,NaN,1007.00,2011,R,78.00,10.5,False,NaN,NaN,NaN
3,s4,TV Show,ecole,Acker,US,NaN,32.00,2009,PG-13,80.00,6.2,True,155.0,NaN,!
4,s5,?,defense,?,US,NaN,1720.40,2008,PG-13,123.00,6.2,False,133.0,NaN,NaN
5,s6,TV Show,vie,rrr,UK,NaN,4587.00,2010,RP-12,75.33,NaN,False,NaN,NaN,817
6,s7,Movie,zero,Acker,UK,NaN,1001.40,2017,PGI-17,115.00,10.0,True,165.0,165.0,163
7,s8,Movie,rent,Marcel,???,NaN,28.45,2009,TV-MO,86.00,3.5,False,120.0,NaN,33204
8,s9,TV Show,vie,Labrador,UK,NaN,37845.90,2022,S,125.00,9.0,False,159.0,NaN,1266

In [7]:
det.replace([ '?', '???','!'], 'NAN')

,show_id,type,title,director,country,manque,added,release_year,rating,duration,averageRating,is_action,duree,Nb_entree,numVotes
0,s1,TV Show,rent,Abdou,Brazil,139.0,12.80,2020,TV-MA,90.50,5.7,True,139.0,NaN,1670
1,s2,Movie,NAN,Grau,Mexico,NaN,17.80,2016,TV-MA,93.00,NaN,True,90.0,NaN,208
2,s3,Movie,marche,Chan,UK,NaN,1007.00,2011,R,78.00,10.5,False,NaN,NaN,NaN
3,s4,TV Show,ecole,Acker,US,NaN,32.00,2009,PG-13,80.00,6.2,True,155.0,NaN,NAN
4,s5,NAN,defense,NAN,US,NaN,1720.40,2008,PG-13,123.00,6.2,False,133.0,NaN,NaN
5,s6,TV Show,vie,rrr,UK,NaN,4587.00,2010,RP-12,75.33,NaN,False,NaN,NaN,817
6,s7,Movie,zero,Acker,UK,NaN,1001.40,2017,PGI-17,115.00,10.0,True,165.0,165.0,163
7,s8,Movie,rent,Marcel,NAN,NaN,28.45,2009,TV-MO,86.00,3.5,False,120.0,NaN,33204
8,s9,TV Show,vie,Labrador,UK,NaN,37845.90,2022,S,125.00,9.0,False,159.0,NaN,1266

In [8]:
#Ou bien on fait ainsi
def isDecimal(text):
    try :
        float(text)
        return False
    except :
        return True
non_nan=[]
for feature in ["type", "title", "numVotes"]:
    #print(det[feature])
    #det[feature].apply(isDecimal).unique()
    #non_nan.extend(det[feature][det[feature].apply(isDecimal)])
    non_nan.extend(det[feature][det[feature].apply(isDecimal)].unique())
    #thislist.extend(tropical)
    #print(det[feature][det[feature].apply(isDecimal)].unique())
print(non_nan)

['TV Show', 'Movie', '?', 'rent', '???', 'marche', 'ecole', 'defense', 'vie', 'zero', '!']

In [9]:
print(non_nan)

['TV Show', 'Movie', '?', 'rent', '???', 'marche', 'ecole', 'defense', 'vie', 'zero', '!']

In [10]:
Predicted_values = pred.values
Real_values = dataReal.values 


import numpy as np

def mean_relative_error(Real_values, Predicted_values):
    # Calcul de l'erreur relative pour chaque paire de valeurs
    relative_errors = np.abs(Real_values - Predicted_values) / np.abs(Real_values)
    
    # Calcul de la moyenne de l'erreur relative
    mean_relative_error = np.mean(relative_errors)
    
    return mean_relative_error

# Exemple d'utilisation :
y_true = np.array([10, 20, 30, 40, 50])
y_pred = np.array([12, 18, 32, 36, 45])

# Calcul du Mean Relative Error (MRE)
mre = mean_relative_error(y_true, y_pred)

print("Mean Relative Error:", mre)

NameError: name 'pred' is not defined